[Unit]
Description=device with the binary neurons
After=syslog.service

[Service]
Type=simple
ExecStart=/opt/bnn_device/device

[Install]
WantedBy=multi-user.target 
