[submodule "binary_neurons_network"]
	path = src/binary_neurons_network
	url = https://github.com/cortl0/binary_neurons_network

[submodule "gpio"]
	path = src/gpio
	url = https://github.com/cortl0/gpio

[submodule "logger"]
	path = src/logger
	url = https://github.com/cortl0/logger
